header{
  text-align: center;
  display: grid;
  min-width: 500px;
  grid-template-columns: 300px repeat(2, 60px) repeat(2, 40px);
  grid-auto-rows: 50px;
}

main {
  justify-content: center;
  align-content: center;
}